:root{
	--bgimg: url(/images/bg/vapor100_1920x1200.png);
	background-image: var(--bgimg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
div.container {
	overflow-y: scroll;
	background-color: white;
	border: 5pt solid black;
	max-width: min(6in, 80vw);
	width: max-content;
	max-height: 90vh;
	margin-top: 5vh;
	border-radius: 40pt;
	margin-left: auto;
	margin-right:auto;
}
div.container>a {
	display:inline-block;
	margin:10pt;
	aspect-ratio: initial;
}
div.container>a>img {
	margin: 5pt;
	height:40pt;
	filter: 
		grayscale()
		brightness(-1000%)
		opacity(100%) 
		contrast(100%)
		drop-shadow(2pt 2pt 0 cyan) 
		drop-shadow(-2pt -2pt 0 magenta);
}
.lefty{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 10vw;
}
.righty{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	max-width: 10vw;
}
::-webkit-scrollbar {
	display: none;
	}